<div >
    <button >
        <i class="fa fa-close"></i></button>
    <div class="r" id="">
        <div id="" class="">
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="" data-toggle="dropdown" data-offset="0px,0px">
                <div class="">
                    <span class="">Hi,</span>
                    <span class="">Administrator</span>
                    <img class="" alt="Pic" src="./assets/media/users/default.jpg" />
                    <span  class="">A</span>
                </div>
            </div>
            <div  class="">
                <div class=""  style="background-image: url(./assets/media/misc/bg-1.jpg)">
                    <div class="">
                        <img class="" alt="Pic" src="./assets/media/users/default.jpg" />
                        <span class="">A</span>
                    </div>
                    <div class="">
                        Administrator
                    </div>
                    <div class="">
                        <span class="btn btn-success btn-sm btn-bold btn-font-md">0 message</span>
                    </div>
                </div>
                <div class="">
                    <a class="" [routerLink]="['/account/change-password']">
                        <div class="">
                            <i class="fa fa-key "></i>
                        </div>
                        <div class="">
                            <div class="">
                                Change Password
                            </div>
                            <div class="">
                                Change your password
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <a [routerLink]="['/']" target="_blank"></a>
                        <a [routerLink]="['/account/logout']" class="btn btn-outline-success">
                            <i class="la la-sign-out"></i> Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>