<div class="">
    <div class="" id="">
        <div class="">
            <div class="">
                <a [routerLink]="['/']" class="">
                    <em class="flaticon2-shelter"></em>
                </a>
                <span class=""></span>
                <span>Change Password</span>
            </div>
        </div>
        <div class="">
            <div class="">
            </div>
        </div>
    </div>
    <div class="" id="">
        <div class="row">
            <div class="col-md-8" *blockUI="'container-blockui'">
                <div class="">
                    <div class="">
                        <div class="">
                            <h3 class="">
                                Change Password
                            </h3>
                        </div>
                    </div>
                    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm"
                        novalidate>
                        <div class="">
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && currentPassword.invalid}">
                                <label class="col-md-3">Current Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="currentPassword" class="form-control height-38" minlength="6"
                                        maxlength="50" [(ngModel)]="model.currentPassword" #currentPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && currentPassword.invalid">
                                        <span *ngIf="currentPassword.errors.required">
                                            Current password is required
                                        </span>
                                        <span *ngIf="currentPassword.errors.minlength">
                                            Minimum 6 characters are required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && newPassword.invalid}">
                                <label class="col-md-3">New Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="newPassword" class="form-control height-38" minlength="6"
                                        maxlength="50" [(ngModel)]="model.newPassword" #newPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message" *ngIf="f.submitted && newPassword.invalid">
                                        <span *ngIf="newPassword.errors.required">
                                            New password is required
                                        </span>
                                        <span *ngIf="newPassword.errors.minlength">
                                            Minimum 6 characters are required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                [ngClass]="{ 'validation-error' : f.submitted && confirmPassword.invalid}">
                                <label class="col-md-3">Confirm Password:*</label>
                                <div class="col-md-9">
                                    <input type="password" name="confirmPassword" class="form-control height-38" maxlength="50"
                                        [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                                        appAnythingButSpace required />
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && confirmPassword.invalid">
                                        Confirm password is required
                                    </div>
                                    <div class="validation-error-message"
                                        *ngIf="f.submitted && newPassword.valid && confirmPassword.valid && model.newPassword !== model.confirmPassword">
                                        New password and confirm password does not matched
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>