
<!-- <div class="ParentPlace">
  <span>{{data.name}}</span>
</div>
<ul *ngIf="data.children && data.children.length > 0">
   <li *ngFor="let child of data.children">
     <sub-accounts [data]="child"></sub-accounts>
   </li>
</ul> -->


<ul *ngIf="data.bankAccount && data.bankAccount.length > 0">
    <li *ngFor="let child of data.bankAccount">
        <div class="row">
            <div class="col-md-2">{{child.id}}</div>
            <div class="col-md-8">{{child.accountName}}</div>
            <div class="col-md-2" style="text-align:end;"> 
                <span class="m-r-5" type="button" (click)="openAddAccountModal.emit()" ><i class="fa fa-plus"></i></span>
                <span class="m-r-5" type="button" ><i class="fa fa-edit"></i></span>
            </div>
        </div>
      <sub-accounts [data]="child" (openAddAccountModal)="openAddAccountModal.emit()"></sub-accounts>
    </li>
    <hr>
 </ul>



