<div class="row">
    <div class="blue-h col-md-6 title-border">
      <h3 >
        Bill Detail
      </h3>
    </div >
     
    <div class="col-md-6 text-right title-border">
          <button type="button"class="btn btn-outline-success btn-sm dropdown-toggle"
            data-toggle="dropdown">
            Action
          </button>
          <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right action-ul">
            <ul class="manageList table-hover">
                <li class="list" *ngIf="model.status === 0">
                    <a [routerLink]="['/vend-payment/add-vendor-payment', model.id]" class="">
                        <em class="fa fa-credit-card"></em>
                        <span class=""> Pay Bill</span>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;" class="" (click)="downloadPDF()">
                        <em class="fa fa-print"></em>
                        <span class=""> Print Bill</span>
                    </a>
                </li>
                <li class="list" *ngIf="model.status === 0">
                    <a [routerLink]="['/bill/edit', model.id]" class="">
                        <em class="fa fa-edit"></em>
                        <span class=""> Edit</span>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;" class="" (click)="openDeleteModal(deleteModal)">
                        <em class="fa fa-trash"></em>
                        <span class="">
                            Delete
                        </span>
                    </a>
                </li>
</ul>
        </div>
    </div>
  </div>

  
  <div class="page-section ">
      <div class="box">
    <div class="row">
      <div class="col-md-12" *blockUI="'container-blockui'">
  
                   
                    <div class="form-horizontal" >
                        <div class="" *ngIf="isModelLoaded" >
                            <div class="row" id="htmlData" #htmlData>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Bill#:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.billNumber}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3  ">Bill Date:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.billDate | date }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3  ">Due Date:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.dueDate | date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Vendor:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>                                
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3  ">Reference#:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.refrenceNumber}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Phone:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.phone | mask: '000-000-0000'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Email:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">PO/SO#:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.poSoNumber}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Notes:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.notes}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="title-border blue-h heading">Items/Services</h3>
                                    <div class=" m-t-5">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 disableDiv">
                                    <!-- <app-item-selected [selectedItems]="selectedItems" [itemId]="itemId" [selectedTax]="selectedTax" (updateTotalAmount)="updateTotalAmount()">
                                    </app-item-selected> -->
                                    <app-item-selected  [selectedItems]="selectedItems" [itemId]="itemId" [selectedTax]="selectedTax" [readOnly]="true">
                                    </app-item-selected>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="title-border blue-h heading">Summary</h3>
                                    <div class=" m-t-5">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group row">
                                        <label class="col-md-3 ">Description:</label>
                                        <div class="col-md-9">
                                            <p class="">{{model.remark}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <table class="table" id="my-table">
                                      <tbody>
                                        <tr><td>Sub Total:</td><td class="Bold"><p class="">{{model.subTotal | currency}} </p></td></tr>
                                        <tr><td>Total Discount:</td><td class="Bold"><p class="">{{model.discount | currency}} </p></td></tr>
                                        <tr><td>Tax:</td><td class="Bold"><p class="">{{model.tax | currency}} </p></td></tr>
                                        <tr class="Bold totaoblock"><td>Total Amount:</td><td><p class="">{{model.totalAmount | currency}} </p></td></tr>
                                      </tbody>
                                    </table>
                                    <!-- <div class="form-group row">
                                      <label class="col-md-8 ">Tax:</label>
                                      <div class="col-md-4">
                                        <p class="">{{model.tax | currency}} </p>
                                      </div>
                                    </div>
                
                                    <div class="form-group row">
                                      <label class="col-md-8 ">Total Discount:</label>
                                      <div class="col-md-4">
                                        <p class="">{{model.discount | currency}} </p>
                                      </div>
                                    </div>
                
                                    <div class="form-group row">
                                      <label class="col-md-8 ">Total Amount:</label>
                                      <div class="col-md-4">
                                        <p class="">{{model.totalAmount | currency}} </p>
                                      </div>
                                    </div> -->
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="title-border blue-h heading">Attachments</h3>
                                    <div class=" m-t-5">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" *ngFor="let item of model.attachments; index as $index">
                                        <a [href]="item.fileUrl" target="_blank">
                                            <span class="m-r-5">{{($index + 1)}}.</span>
                                            {{item.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="model.attachments.length === 0">
                                <div class="col-12">
                                    <div class="form-group">
                                        <p>No attachment found</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
        </div>
        
    </div>

    
</div>
<br>
<div class="">
    <div class="text-right" *ngIf="isModelLoaded">
        <a [routerLink]="['/bill/manage']" class="btn btn-success m-r-5">
            <i class="fa fa-arrow-left"></i> Back</a>
    </div>
</div>
</div>

<ng-template #deleteModal class="delmodal" id="deleteModal" let-modal>
           
    <div class="modal-header">
        <h4 class="blue-h heading">Delete Confirmation</h4>
        <div class="close-btn btn-success" (click)="closeDeleteModal()">
            <img src="assets/images/sidebar-close-icon.png" alt="close">
        </div>
    </div>
    <div class="col-md-12">
        <div class="">
            <span>Are you sure you want to delete the selected Bill?</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button type="button" class="btn btn-success" (click)="closeDeleteModal()">
                <i class="fa fa-arrow-left"></i> Cancel
            </button>&nbsp;
            <button type="button" class="btn btn-success" (click)="delete()">
                <i class="fa fa-trash"></i> Delete
            </button>
        </div>
    </div>

</ng-template>