<div class="row">
    <h3 class="blue-h heading col-md-12">
        <span>Bill & Expenses </span>
        <span>Manage</span>
    </h3>
       <div class="col-md-12">
            <!-- <a [routerLink]="['/bill/add']" class="btn btn-primary" type="button"> 
                <span class="glyphicon glyphicon-plus">New Bill & Expenses</span>
            </a> -->
            <button type="button" class="btn btn-success" [routerLink]="['/bill/add']">
                <i class="fa fa-plus"></i>New Bill & Expenses
          </button>
        </div>
    </div>
                    <div class="page-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- <div class="col-md-3">
                                        <select class="form-control height-38" name="role" [(ngModel)]="filterModel.vendorId">
                                            <option value="">[Select Vendor]</option>
                                            <option *ngFor="let item of vendors" [value]="item.keyInt">
                                                {{item.value}}</option>
                                        </select>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-md-3 label-col">Search Bill:</label>
                                          <div class="col-md-6">
                                        <input type="text" class="form-control height-38" placeholder="Filter bill"
                                            [(ngModel)]="filterModel.filterKey" autocomplete="Off" maxlength="50"
                                            (keydown.enter)="doFilter()" />
                                    </div>
                                </div>
                                </div>
                                    <div class="col-md-6 align-rgt filt-rest">
                                        <button type="button" class="btn btn-success btn-elevate btn-icon-sm"
                                            (click)="doFilter()">
                                            <i class="fa fa-search"></i> Filter
                                        </button>
                                        <button type="button" class="btn btn-success btn-elevate btn-icon-sm m-l-5"
                                            (click)="resetFilter()">
                                            <i class="fa fa-close"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 custom-table" *blockUI="'container-blockui'">
                                <table datatable [dtOptions]="dtOptions" data-page="2" class="table table-sm table-striped table-hover">
                                </table>
                            </div>
                        </div>
                    </div>
                    <ng-template #deleteModal class="delmodal" id="deleteModal" let-modal>
           
                        <div class="modal-header">
                            <h4 class="blue-h heading">Delete Confirmation</h4>
                            <div class="close-btn btn-success" (click)="closeDeleteModal()">
                                <img src="assets/images/sidebar-close-icon.png" alt="close">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="">
                                <span>Are you sure you want to delete the selected Bill?</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" (click)="closeDeleteModal()">
                                    <i class="fa fa-arrow-left"></i> Cancel
                                </button>&nbsp;
                                <button type="button" class="btn btn-success" (click)="delete()">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                   
                </ng-template>